.input-card {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    font-size: 14px;
    border: 2px solid #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0 15px;
  }
  
  textarea {
    padding: 15px;
  }
  
  input {
    height: 30px;
  }